body {
    background-color: #665252;
    text-align: center;
    color: #ffffff;
    font-family: 'Droid Serif';
    font-size: 30px; 
    margin: 0;
    padding: 0;
}
nav {
    font-size: clamp(1.875rem, 0.966rem + 4.55vw, 4.375rem); 
    font-family: 'Borel';
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 125px;

}
h2 {
    font-size: clamp(0.625rem, 0.17rem + 2.27vw, 1.84rem);
    font-family: 'Droid Serif';
}
footer{
    background-color: #4d3a3a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    font-size: 18px;
    width: 100%;
    bottom: 0;
}
footer a:link, p a:link {
    color: #ff877d;
    background-color: transparent;
}
footer a:visited, p a:visited {
    color: #ff877d;
    background-color: transparent;
}
footer a:hover, p a:hover{
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
footer a:active, p a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

.align {
    text-align: center;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1350px;
    margin: 0px auto;
    
}
.clipToLeft, .clipToRight {
    flex: 1;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1350px;
    margin: 0px auto;
}
.left, .right {
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    margin: 10px;
    
}
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #4d3a3a;
    border: 4px solid #ff877d;
    color: white;
}
.left p {
    font-size: 20px;
}
.left input {
    margin: 10px 0;
    padding: 10px;
    width: 80%;
    border: none;
    border-radius: 5px;
}
.left button {
    padding: 10px 20px;
    background-color: #ffe78c;
    color: #4d3a3a;
    font-size: 18px;
    border: 0px;
    cursor: pointer;
    margin-top: 10px;
}
.left ul {
    list-style: none;
    padding: 0px;
    width: 100%;
}
.left li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #ff877d;
    margin: 5px 0;
    border-radius: 5px;
    margin-inline: 20px;

}
.left li button {
    background: none;
    border: none;
    color: rgb(116, 73, 73);
    font-weight: bold;
    cursor: pointer;
}

.scrollable-list {
    max-height: 300px; 
    overflow-y: scroll;
    padding: 5px;
    margin-top: 10px;
    list-style-type: none;
    border: 5px solid #ff877d;
}

.scrollable-list li {
    margin-bottom: 5px;
    padding-block: 10px;
}
.scrollable-list::-webkit-scrollbar {
    width: 12px; /* Adjust the width of the scrollbar */
}

.scrollable-list::-webkit-scrollbar-track {
    background: #f1f1f1; /* Background of the scrollbar track */
}

.scrollable-list::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar handle */
    border-radius: 10px; /* Round the corners of the scrollbar handle */
}

.scrollable-list::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar handle on hover */
}

.right {
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color: #d3d3d3;
    border: 4px solid #000000;
    color: black;
    text-align: left;
}
.recipe, .suggestion {
    background-color: white;
    color: #4d3a3a;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0px;
    display: flex;
    cursor: pointer;
    transition-duration: 0.4s;
}

.centeralign {
    align-items: center;
}
.lineheight{
    line-height: 20px;
}
.recipe:hover, .suggestion:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.recipe img, .suggestion img {
    width: 75px;
    height: 75px;
    margin-right: 15px;
    border: 1px solid black;
    transition-duration: 0.4s;
}
.recipe:hover img, .suggestion:hover img {
    width: 150px;   
    height: 150px;
    background-color: #f0f0f0; /* Change background color on hover */
    cursor: pointer;
}

.expanded {
    cursor: default;
}
.expanded img{
    width: 150px;   
    height: 150px;
}

.siteinstructions {
    background-color: white;
    font-size: 20px;
    color: #4d3a3a;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0px;
    display: flex;
    align-items: center;
}
.siteinstructions img {
    opacity: 0;
    width: 0px;
    height: 0px;
    margin-right: 15px;
    transition-duration: 0.4s;
}

.siteinstructions:hover img {
    opacity: 1;
    width: 150px;   
    height: 150px;
    background-color: #ffffff; /* Change background color on hover */
}



.small {
    font-size: 30px;
}

.container {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center items vertically */;
    justify-content: center;
}
.align {
    text-align: center;
}

.button {
    border: none;
    color: white;
    padding: 16px 0px;
    margin: 0px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: 'Droid Serif';
    width: clamp(2rem, 10rem, 15vw);
}

.headerbutton {
    background-color: #665252; 
    color: #ffffff; 
    border: 2px solid #ff877d;
}

.headerbutton:hover {
    background-color: #ff877d;
    color: #ffe492;
}

.logoalignment {
    padding-top: 60px;
    margin-right: 150px; /* Adjust as needed */
}